{% extends "templates/appAdmin.twig" %}

{% block content %}

    <form action="/admin/category/edit" method="POST">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="text-center">Edit Category</h1>
                </div>
                <div class="modal-body">

                    <input type="hidden" value="{{ old.id }}" name="id">

                    <div class="form-group">
                        <input type="text" class="form-control input-lg {{ errors.title ? 'is-invalid' : '' }}" name="title" placeholder="Title" value="{{old.title}}" />
                    </div>

                    {% if errors.title %}
                        <div class="invalid-feedback">
                            {{ errors.title | first }}
                        </div>
                    {% endif %}


                    <div class="form-group">
                        <textarea class="form-control input-lg  {{ errors.description ? 'is-invalid' : '' }}" name="description" placeholder="description">{{old.description}}</textarea>
                    </div>

                    {% if errors.description %}
                        <div class="invalid-feedback">
                            {{ errors.description | first }}
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <input type="submit" class="btn btn-block btn-lg btn-primary" value="Submit"/>
                    </div>
                </div>
            </div>
        </div>

    </form>

{% endblock %}