{% extends "templates/appAdmin.twig" %}

{% block content %}

<div class="row justify-content-center">

    {% if results is empty %}
    <div class="row col-12 justify-content-center">
        <h3>No products found :(</h3>
    </div>
    <div class="row col-12 justify-content-center">
        <a href="/admin/import" class="btn btn-primary">Change search parameters</a>
    </div>
    {% endif %}

    {% for result in results %}
    <div class="products-wrapper">
        <div class="col-3">
                
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ result.imageUrl }}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title">{{result.title}}</p>
                    {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: {{result.price.value|number_format(2, '.', ',')}} {{ result.price.currency}} </li>
                    <li class="list-group-item">Orders: {{result.orders}}</li>
                    <li class="list-group-item"><a href="{{result.detailUrl}}">Visit Product Page</a></li>
                    <li class="list-group-item">
                    <div class="rating">
                        {% for i in 1..5 %}
                        {% set starClass = (result.ratings >= i ? "fas fa-star starSet" : "far fa-star")  %}
                            <i class="{{ starClass }}"></i>
                        {% endfor %}
                    </div>
                    </li>
                </ul>
                <div class="card-body">
                    {% if isImported(result['id']) == true %}
                        <a class="card-link btn disabled" disabled>Added</a>
                    {% else %}
                        <a href="/admin/import/details?id={{result['id']}}" class="card-link btn btn-info">View Details</a>
                        <a href="/admin/import/store?id={{result.id}}" class="card-link btn btn-success">Import</a>
                    {% endif %}
                    
                </div>
            </div>
                
        </div>

        {#{% if loop.index % 4 == 0 %}#}
            {#</div><div class="row">#}
        {#{% endif %}#}

        </div>

    {% endfor %}
</div>

{% endblock %}